TechnicalTest/Service References/LemonWayService/LemonWayService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Fibonacci">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="baseNumber" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FibonacciResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FibonacciResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FibonacciWithError">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="baseNumber" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FibonacciWithErrorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FibonacciWithErrorResult" type="tns:FibonacciResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FibonacciResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="XmlToJson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XmlToJsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XmlToJsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XmlToJsonWithError">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XmlToJsonWithErrorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="XmlToJsonWithErrorResult" type="tns:XmlToJsonResut" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="XmlToJsonResut">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="int" type="s:int" />
      <s:element name="FibonacciResult" type="tns:FibonacciResult" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="XmlToJsonResut" type="tns:XmlToJsonResut" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FibonacciSoapIn">
    <wsdl:part name="parameters" element="tns:Fibonacci" />
  </wsdl:message>
  <wsdl:message name="FibonacciSoapOut">
    <wsdl:part name="parameters" element="tns:FibonacciResponse" />
  </wsdl:message>
  <wsdl:message name="FibonacciWithErrorSoapIn">
    <wsdl:part name="parameters" element="tns:FibonacciWithError" />
  </wsdl:message>
  <wsdl:message name="FibonacciWithErrorSoapOut">
    <wsdl:part name="parameters" element="tns:FibonacciWithErrorResponse" />
  </wsdl:message>
  <wsdl:message name="XmlToJsonSoapIn">
    <wsdl:part name="parameters" element="tns:XmlToJson" />
  </wsdl:message>
  <wsdl:message name="XmlToJsonSoapOut">
    <wsdl:part name="parameters" element="tns:XmlToJsonResponse" />
  </wsdl:message>
  <wsdl:message name="XmlToJsonWithErrorSoapIn">
    <wsdl:part name="parameters" element="tns:XmlToJsonWithError" />
  </wsdl:message>
  <wsdl:message name="XmlToJsonWithErrorSoapOut">
    <wsdl:part name="parameters" element="tns:XmlToJsonWithErrorResponse" />
  </wsdl:message>
  <wsdl:message name="FibonacciHttpGetIn">
    <wsdl:part name="baseNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FibonacciHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="FibonacciWithErrorHttpGetIn">
    <wsdl:part name="baseNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FibonacciWithErrorHttpGetOut">
    <wsdl:part name="Body" element="tns:FibonacciResult" />
  </wsdl:message>
  <wsdl:message name="XmlToJsonHttpGetIn">
    <wsdl:part name="xml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="XmlToJsonHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="XmlToJsonWithErrorHttpGetIn">
    <wsdl:part name="xml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="XmlToJsonWithErrorHttpGetOut">
    <wsdl:part name="Body" element="tns:XmlToJsonResut" />
  </wsdl:message>
  <wsdl:message name="FibonacciHttpPostIn">
    <wsdl:part name="baseNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FibonacciHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="FibonacciWithErrorHttpPostIn">
    <wsdl:part name="baseNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FibonacciWithErrorHttpPostOut">
    <wsdl:part name="Body" element="tns:FibonacciResult" />
  </wsdl:message>
  <wsdl:message name="XmlToJsonHttpPostIn">
    <wsdl:part name="xml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="XmlToJsonHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="XmlToJsonWithErrorHttpPostIn">
    <wsdl:part name="xml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="XmlToJsonWithErrorHttpPostOut">
    <wsdl:part name="Body" element="tns:XmlToJsonResut" />
  </wsdl:message>
  <wsdl:portType name="LemonWayServiceSoap">
    <wsdl:operation name="Fibonacci">
      <wsdl:input message="tns:FibonacciSoapIn" />
      <wsdl:output message="tns:FibonacciSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FibonacciWithError">
      <wsdl:input message="tns:FibonacciWithErrorSoapIn" />
      <wsdl:output message="tns:FibonacciWithErrorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XmlToJson">
      <wsdl:input message="tns:XmlToJsonSoapIn" />
      <wsdl:output message="tns:XmlToJsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XmlToJsonWithError">
      <wsdl:input message="tns:XmlToJsonWithErrorSoapIn" />
      <wsdl:output message="tns:XmlToJsonWithErrorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LemonWayServiceHttpGet">
    <wsdl:operation name="Fibonacci">
      <wsdl:input message="tns:FibonacciHttpGetIn" />
      <wsdl:output message="tns:FibonacciHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FibonacciWithError">
      <wsdl:input message="tns:FibonacciWithErrorHttpGetIn" />
      <wsdl:output message="tns:FibonacciWithErrorHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="XmlToJson">
      <wsdl:input message="tns:XmlToJsonHttpGetIn" />
      <wsdl:output message="tns:XmlToJsonHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="XmlToJsonWithError">
      <wsdl:input message="tns:XmlToJsonWithErrorHttpGetIn" />
      <wsdl:output message="tns:XmlToJsonWithErrorHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LemonWayServiceHttpPost">
    <wsdl:operation name="Fibonacci">
      <wsdl:input message="tns:FibonacciHttpPostIn" />
      <wsdl:output message="tns:FibonacciHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FibonacciWithError">
      <wsdl:input message="tns:FibonacciWithErrorHttpPostIn" />
      <wsdl:output message="tns:FibonacciWithErrorHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="XmlToJson">
      <wsdl:input message="tns:XmlToJsonHttpPostIn" />
      <wsdl:output message="tns:XmlToJsonHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="XmlToJsonWithError">
      <wsdl:input message="tns:XmlToJsonWithErrorHttpPostIn" />
      <wsdl:output message="tns:XmlToJsonWithErrorHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LemonWayServiceSoap" type="tns:LemonWayServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Fibonacci">
      <soap:operation soapAction="http://tempuri.org/Fibonacci" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FibonacciWithError">
      <soap:operation soapAction="http://tempuri.org/FibonacciWithError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XmlToJson">
      <soap:operation soapAction="http://tempuri.org/XmlToJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XmlToJsonWithError">
      <soap:operation soapAction="http://tempuri.org/XmlToJsonWithError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LemonWayServiceSoap12" type="tns:LemonWayServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Fibonacci">
      <soap12:operation soapAction="http://tempuri.org/Fibonacci" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FibonacciWithError">
      <soap12:operation soapAction="http://tempuri.org/FibonacciWithError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XmlToJson">
      <soap12:operation soapAction="http://tempuri.org/XmlToJson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XmlToJsonWithError">
      <soap12:operation soapAction="http://tempuri.org/XmlToJsonWithError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LemonWayServiceHttpGet" type="tns:LemonWayServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Fibonacci">
      <http:operation location="/Fibonacci" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FibonacciWithError">
      <http:operation location="/FibonacciWithError" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XmlToJson">
      <http:operation location="/XmlToJson" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XmlToJsonWithError">
      <http:operation location="/XmlToJsonWithError" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LemonWayServiceHttpPost" type="tns:LemonWayServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Fibonacci">
      <http:operation location="/Fibonacci" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FibonacciWithError">
      <http:operation location="/FibonacciWithError" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XmlToJson">
      <http:operation location="/XmlToJson" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XmlToJsonWithError">
      <http:operation location="/XmlToJsonWithError" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LemonWayService">
    <wsdl:port name="LemonWayServiceSoap" binding="tns:LemonWayServiceSoap">
      <soap:address location="http://localhost:8080/LemonWayService.asmx" />
    </wsdl:port>
    <wsdl:port name="LemonWayServiceSoap12" binding="tns:LemonWayServiceSoap12">
      <soap12:address location="http://localhost:8080/LemonWayService.asmx" />
    </wsdl:port>
    <wsdl:port name="LemonWayServiceHttpGet" binding="tns:LemonWayServiceHttpGet">
      <http:address location="http://localhost:8080/LemonWayService.asmx" />
    </wsdl:port>
    <wsdl:port name="LemonWayServiceHttpPost" binding="tns:LemonWayServiceHttpPost">
      <http:address location="http://localhost:8080/LemonWayService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>